<%= form_for @like, url: chirp_likes_path(params[:chirp_id], @like.id) do |f| %>
  <% if @like.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@like.errors.count, "error") %> prohibited this like from being saved:</h2>

      <ul>
      <% @like.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chirp_id %><br>
    <%= f.text_field :chirp_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
